<div class="footer">
  <div class="footer-links">
    <%# <a href="#" class="no-style "><i class="fab fa-github f-link"></i></a> %>
    <a href="https://www.instagram.com/new_gen_berlin" class="no-style" target="_blank"><i class="fab fa-instagram f-link"></i></a>
    <a href="#" class="no-style"><i class="fab fa-facebook f-link"></i></a>
    <%# <a href="#" class="no-style"><i class="fab fa-twitter f-link"></i></a> %>
    <%# <a href="#" class="no-style" target="_blank">/a> %>
    <%= link_to root_path, class: "no-style" do %>
      <i class="fa-brands fa-weixin f-link"></i>
    <% end %>
  </div>
  <div>
    This website is made with <i class="fas fa-heart"></i> by <a href="https://github.com/JBlezi" class="no-style name"><strong>Julius Blezinger</strong> <i class="fab fa-github"></i></a>.
  </div>
</div>
