<div id="about">
  <div class="container">
    <h1>关于电影节</h1>
    <br>
    <div class="description">
      <p>NewGen柏林华语电影节由一群年轻的欧洲电影人和电影爱好者发起，旨在发掘能代表华语电影未来的新一代电影人，鼓励独立新锐、展现多元华语文化和社会的电影创作。通过这一跨越国界的电影文化交流平台，NewGen希望新一代华语影人及其作品能与更多的国际观众见面，从而促进新华语电影的发展，推动中欧电影文化交流。</p>
      <p>首届NewGen柏林华语电影节暂定于2022年10月底举行。电影节期间，入选作品将在柏林当地影院展映（包括“特别作品展映”和“短片竞赛作品展映”），与此同时，电影节也将打通线上、线下，举办多个电影主题研讨活动。</p>
      <br>
      <h3>首届柏林青年华语电影节</h3>
        <p><strong>主题：</strong>正发声</p>
        <p><strong>时间：</strong>2022年10月底</p>
      <div class="flex">
        <p><strong>地点：</strong></p>
        <div>
          <p>电影展映将于柏林地区的独立影院进行<</p>
          <p>论坛讨论和工作坊将于合作文化机构进行（线上和线下）</p>
        </div>
      </div>
      <br>
      <p><strong>联系方式：</strong>请写邮件至<a class="no-style" href="mailto:info@bngcff.com"><strong>info@bngcff.com</strong></a></p>
    </div>
    <br>
    <br>
  </div>
</div>
    <%# <h3>GOALS & OBJECTIVES</h3>
    <p>To help young Chinese filmmakers develop authentic voices; to support less-known Chinese filmmakers with access to an international audience; to provide all filmmakers opportunities for networking through the platform of our festival.</p>
    <p>To create alternative cinematic encounters for audiences across the spectrum from feature films to documentary forms and artistic experiments; to offer unique festival experiences through a rich array of spoken-word events, audience discussions and expert panels; to provide an open and friendly platform for meeting like-minded people and taking a break from routine.</p>
    <p>To enrich the diversity of art institutions and cinemas’ exhibitions and activities; to facilitate art institutions and cinemas reaching out to heterogeneous audiences; to integrate bottom-up artistic powers from different organisations and sectors and to build a sustainably cooperative partnership.</p>
    <p>To increase the visibility of the Chinese community in Berlin and other regions as well as to enhance inclusion, openness and cohesion of the city; to contribute to the artistic and cultural diversity of the local community and the city and to improve the innovative film climate from local to global.</p> %>
  <br>
  <br>
