<div id="about">
  <div class="row menu">
    <input type="checkbox" id="hamburg">
    <label for="hamburg" class="hamburg">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <ul class="hidden-menu">
        <li> <%= link_to "Submissions", submissions_path, class: "no-style" %></li>
        <%# <li>Tickets</li> %>
        <%# <li>Program</li> %>
        <li> <%= link_to "Home", root_path, class: "no-style" %></li>
      </ul>
    </label>
  </div>
    <div class="language-toggle">
      <div class="language-inline">
        <div>
          <h3><%= link_to "🇨🇳", aboutcn_path, class: "no-style flags" %></h3>
        </div>
        <div>
          <h3><%= link_to "🇩🇪", aboutcn_path, class: "no-style flags" %></h3>
        </div>
      </div>
    </div>
  <div class="container">
    <h1>ABOUT US</h1>
    <br>
    <div class="description">
      <p>New Generation International Film Festival (NewGen) is a Berlin-based nonprofit organisation celebrating high-quality Chinese films with new and distinguished filmmakers, film enthusiasts, film industry professionals, related-field scholars and audiences around the world.</p>
      <p>Acting as a springboard for creation, NewGen is dedicated to discovering new talented filmmakers who are making the future of Chinese cinema. Focusing on interconnections between cinema and contemporary society, NewGen encourages independent, proactive and innovative filmic expressions that showcase the diversity of Chinese culture and society. Believing in the power of film, New Gen aims to build a borderless exchange platform for cinematic culture through film screenings, audience discussions and expert panels.</p>
      <p>NewGen hopes to draw attention to new talented Chinese filmmakers and raise the profile of their underrepresented films, with the aspiration of contributing to the future of Chinese cinema, boosting the development of the local and global film industry and providing a sustainable platform for future dialogues between China and Europe.</p>
      <br>
      <h3>The 1st Berlin NewGen Film Festival</h3>
      <ul>
        <li><p><strong>THEME:</strong> Speak up!</p></li>
        <li><p><strong>DATE:</strong> End of October, 2022</p></li>
        <li><p><strong>VENUE:</strong></p></li>
        <li class="bullet"><p>Screenings will take place in cinema in Berlin (onsite)</p></li>
        <li class="bullet"><p>Workshops and panel discussions will be held in cultural institutions (onsite & online)</p></li>
      </ul></div>
    <br>
    <br>
  </div>
</div>
    <%# <h3>GOALS & OBJECTIVES</h3>
    <p>To help young Chinese filmmakers develop authentic voices; to support less-known Chinese filmmakers with access to an international audience; to provide all filmmakers opportunities for networking through the platform of our festival.</p>
    <p>To create alternative cinematic encounters for audiences across the spectrum from feature films to documentary forms and artistic experiments; to offer unique festival experiences through a rich array of spoken-word events, audience discussions and expert panels; to provide an open and friendly platform for meeting like-minded people and taking a break from routine.</p>
    <p>To enrich the diversity of art institutions and cinemas’ exhibitions and activities; to facilitate art institutions and cinemas reaching out to heterogeneous audiences; to integrate bottom-up artistic powers from different organisations and sectors and to build a sustainably cooperative partnership.</p>
    <p>To increase the visibility of the Chinese community in Berlin and other regions as well as to enhance inclusion, openness and cohesion of the city; to contribute to the artistic and cultural diversity of the local community and the city and to improve the innovative film climate from local to global.</p> %>
  <br>
  <br>
