<div id="about">
  <div class="container">
    <h1>ÜBER UNS</h1>
    <br>
    <div class="description">
      <p>Das New Generation International Film Festival (NewGen) ist eine gemeinnützige Organisation mit Sitz in Berlin, die qualitativ hochwertige chinesische Filme mit neuen und angesehenen Filmemachern, Filmliebhabern, Fachleuten aus der Filmindustrie, Wissenschaftlern aus verwandten Bereichen und dem Publikum in aller Welt feiert.</p>
      <p>NewGen ist ein Sprungbrett für die Entstehung neuer Filme und hat sich zum Ziel gesetzt, neue talentierte Filmemacher zu entdecken, die die Zukunft des chinesischen Kinos gestalten. NewGen konzentriert sich auf die Verbindungen zwischen dem Kino und der zeitgenössischen Gesellschaft und fördert unabhängige, proaktive und innovative filmische Ausdrucksformen, die die Vielfalt der chinesischen Kultur und Gesellschaft zum Ausdruck bringen. Im Glauben an die Kraft des Films will NewGen durch Filmvorführungen, Publikumsdiskussionen und Expertenrunden eine grenzenlose Austauschplattform für die Filmkultur schaffen.</p>
      <p>NewGen hofft, die Aufmerksamkeit auf neue talentierte chinesische Filmemacher zu lenken und das Profil ihrer unterrepräsentierten Filme zu schärfen, mit dem Ziel, einen Beitrag zur Zukunft des chinesischen Kinos zu leisten, die Entwicklung der lokalen und globalen Filmindustrie zu fördern und eine nachhaltige Grundlage für zukünftige Dialoge zwischen China und Europa zu schaffen.</p>
      <br>
      <h3>Das 1. Berlin NewGen Filmfest</h3>
      <br>
      <p><strong>THEMA:</strong> Speak up!</p>
      <p><strong>DATUM:</strong> Ende Oktober</p>
      <div class="flex">
        <p class="m-3"><strong>Ort: </strong></p>
        <div>
          <p>Die Vorführungen finden im Kino in Berlin statt (vor Ort)</p>
          <p>Workshops und Podiumsdiskussionen werden in Kultureinrichtungen abgehalten (vor Ort & online)</p>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
    <%# <h3>GOALS & OBJECTIVES</h3>
    <p>To help young Chinese filmmakers develop authentic voices; to support less-known Chinese filmmakers with access to an international audience; to provide all filmmakers opportunities for networking through the platform of our festival.</p>
    <p>To create alternative cinematic encounters for audiences across the spectrum from feature films to documentary forms and artistic experiments; to offer unique festival experiences through a rich array of spoken-word events, audience discussions and expert panels; to provide an open and friendly platform for meeting like-minded people and taking a break from routine.</p>
    <p>To enrich the diversity of art institutions and cinemas’ exhibitions and activities; to facilitate art institutions and cinemas reaching out to heterogeneous audiences; to integrate bottom-up artistic powers from different organisations and sectors and to build a sustainably cooperative partnership.</p>
    <p>To increase the visibility of the Chinese community in Berlin and other regions as well as to enhance inclusion, openness and cohesion of the city; to contribute to the artistic and cultural diversity of the local community and the city and to improve the innovative film climate from local to global.</p> %>
  <br>
  <br>
