<div id="banner-design">
<div class="row menu">
    <input type="checkbox" id="hamburg">
    <label for="hamburg" class="hamburg">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <ul class="hidden-menu">
        <li> <%= link_to "Submissions",  %></li>
        <%# <li>Tickets</li> %>
        <%# <li>Program</li> %>
        <li>About Us</li>
      </ul>
    </label>
</div>
  <div id="banner-headers">
    <h1>Berlin NewGen Film Festival</h1>
    <h3>23.10.2022 - 11.11.2022</h3>
  </div>
</div>
