<div id="about">
  <div class="container">
    <h1>征片进行中</h1>
    <h3>参赛影片提交方式</h3>
    <p>我们目前采用Filmfreeway进行影片征集</p>
    <p>请点击下面的链接前往提交页面，如遇到任何问题，请写邮件至<a class="no-style" href="mailto:info@bngcff.com"><strong>info@bngcff.com</strong></a></p>
    <br>
    <%= link_to "提交影片", "https://filmfreeway.com/ngcff", class: "button" %>
    <%# <p style="font-size: 12px;">EARLYBIRD DEADLINE: 31 JULY, 2022 <br>REGULAR DEADLINE: 15 SEPTEMBER, 2022</p> %>
    <br>
  </div>
</div>
