<div id="about">
  <div class="container">
    <h1>Filme Einreichen</h1>
    <h3>Sende deinen Film zur Vorführung ein</h3>
    <p>Wir nutzen die Plattform Filmfreeway, auf der du deine Filme zur Vorführung auf dem Festival einreichen kannst.</p>
    <p>Folge einfach diesem Link und reiche deinen Film auf der Plattform ein!</p>
    <br>
    <%= link_to "Film einreichen", "https://filmfreeway.com/festivals", class: "button" %>
    <%# <p style="font-size: 12px;">EARLYBIRD DEADLINE: 31 JULY, 2022 <br>REGULAR DEADLINE: 15 SEPTEMBER, 2022</p> %>
    <br>
  </div>
</div>
