<div id="about">
  <div class="row menu">
    <input type="checkbox" id="hamburg">
    <label for="hamburg" class="hamburg">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <ul class="hidden-menu">
        <li> <%= link_to "About Us", about_path, class: "no-style" %></li>
        <%# <li>Tickets</li> %>
        <%# <li>Program</li> %>
        <li> <%= link_to "Home", root_path, class: "no-style" %></li>
      </ul>
    </label>
  </div>
  <div class="container">
    <h1>Submissions</h1>
    <h3>Submit your film for screening</h3>
    <p>We are working with our partner platform Filmfreeway to let you submit your favourite movie for screening in the festival.</p>
    <p>Just follow this link and submit your movie on the platform!</p>
    <br>
    <%= link_to "Submit your movie", "https://filmfreeway.com/festivals", class: "button" %>
    <br>
    <br>
  </div>
</div>
    <%# <h3>GOALS & OBJECTIVES</h3>
    <p>To help young Chinese filmmakers develop authentic voices; to support less-known Chinese filmmakers with access to an international audience; to provide all filmmakers opportunities for networking through the platform of our festival.</p>
    <p>To create alternative cinematic encounters for audiences across the spectrum from feature films to documentary forms and artistic experiments; to offer unique festival experiences through a rich array of spoken-word events, audience discussions and expert panels; to provide an open and friendly platform for meeting like-minded people and taking a break from routine.</p>
    <p>To enrich the diversity of art institutions and cinemas’ exhibitions and activities; to facilitate art institutions and cinemas reaching out to heterogeneous audiences; to integrate bottom-up artistic powers from different organisations and sectors and to build a sustainably cooperative partnership.</p>
    <p>To increase the visibility of the Chinese community in Berlin and other regions as well as to enhance inclusion, openness and cohesion of the city; to contribute to the artistic and cultural diversity of the local community and the city and to improve the innovative film climate from local to global.</p> %>
  <br>
  <br>
  <%# <h3>GENERAL DESCRIPTION</h3>
  <ul>
    <li><p><strong>THEME:</strong> Speak up!</p></li>
    <li><p><strong>DATE:</strong> End of October</p></li>
    <li><p><strong>VENUE:</strong></p></li>
    <li class="bullet"><p>Screenings will take place in cinema in Berlin (onsite);</p></li>
  </ul> %>
